absl-py==2.4.0
aiofiles==25.1.0
array_record==0.8.3
attrs==25.4.0
chex==0.1.91
cloudpickle==3.1.2
dataclasses-json==0.6.7
dm-tree==0.1.9
etils==1.14.0
flax==0.12.0
fsspec==2026.2.0
grain==0.2.13
humanize==4.15.0
jax==0.8.0
jax-ai-stack==2025.10.28
jaxlib==0.8.0
jaxtyping==0.3.9
jraphx==0.0.4
markdown-it-py==4.0.0
marshmallow==3.26.2
mdurl==0.1.2
ml_dtypes==0.5.3
more-itertools==10.8.0
msgpack==1.1.2
mypy_extensions==1.1.0
nest-asyncio==1.6.0
numpy==2.4.3
opt_einsum==3.4.0
optax==0.2.6
orbax-checkpoint==0.11.26
orbax-export==0.0.8
packaging @ file:///home/task_176104874243446/conda-bld/packaging_1761049080023/work
protobuf==7.34.0
psutil==7.2.2
Pygments==2.19.2
PyYAML==6.0.3
rich==14.3.3
scipy==1.17.1
setuptools==80.10.2
simplejson==3.20.2
tensorstore==0.1.82
toolz==1.1.0
treescope==0.1.10
typing-inspect==0.9.0
typing_extensions==4.15.0
wadler_lindig==0.1.7
wheel==0.46.3
wrapt==2.1.2
zipp==3.23.0
absl-py==2.4.0
aiofiles==25.1.0
array_record==0.8.3
attrs==25.4.0
chex==0.1.91
cloudpickle==3.1.2
dataclasses-json==0.6.7
dm-tree==0.1.9
etils==1.14.0
flax==0.12.0
fsspec==2026.2.0
grain==0.2.13
humanize==4.15.0
jax==0.8.0
jax-ai-stack==2025.10.28
jaxlib==0.8.0
jaxtyping==0.3.9
jraphx==0.0.4
markdown-it-py==4.0.0
marshmallow==3.26.2
mdurl==0.1.2
ml_dtypes==0.5.3
more-itertools==10.8.0
msgpack==1.1.2
mypy_extensions==1.1.0
nest-asyncio==1.6.0
numpy==2.4.3
opt_einsum==3.4.0
optax==0.2.6
orbax-checkpoint==0.11.26
orbax-export==0.0.8
packaging @ file:///home/task_176104874243446/conda-bld/packaging_1761049080023/work
protobuf==7.34.0
psutil==7.2.2
Pygments==2.19.2
PyYAML==6.0.3
rax==0.4.0
rich==14.3.3
scipy==1.17.1
setuptools==80.10.2
simplejson==3.20.2
tensorstore==0.1.82
toolz==1.1.0
treescope==0.1.10
typing-inspect==0.9.0
typing_extensions==4.15.0
wadler_lindig==0.1.7
wheel==0.46.3
wrapt==2.1.2
zipp==3.23.0
absl-py==2.4.0
aiofiles==25.1.0
array_record==0.8.3
attrs==25.4.0
chex==0.1.91
cloudpickle==3.1.2
dataclasses-json==0.6.7
dm-tree==0.1.9
etils==1.14.0
flax==0.12.0
fsspec==2026.2.0
grain==0.2.13
humanize==4.15.0
jax==0.8.0
jax-ai-stack==2025.10.28
jaxlib==0.8.0
jaxtyping==0.3.9
jraphx==0.0.4
markdown-it-py==4.0.0
marshmallow==3.26.2
mdurl==0.1.2
ml_dtypes==0.5.3
more-itertools==10.8.0
msgpack==1.1.2
mypy_extensions==1.1.0
nest-asyncio==1.6.0
numpy==2.4.3
opt_einsum==3.4.0
optax==0.2.6
orbax-checkpoint==0.11.26
orbax-export==0.0.8
packaging @ file:///home/task_176104874243446/conda-bld/packaging_1761049080023/work
protobuf==7.34.0
psutil==7.2.2
Pygments==2.19.2
PyYAML==6.0.3
rax==0.4.0
rich==14.3.3
scipy==1.17.1
setuptools==80.10.2
simplejson==3.20.2
tensorstore==0.1.82
toolz==1.1.0
treescope==0.1.10
typing-inspect==0.9.0
typing_extensions==4.15.0
wadler_lindig==0.1.7
wheel==0.46.3
wrapt==2.1.2
zipp==3.23.0
